@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 50vh;

  margin: auto;
}

.main-container h1 {
  font-size: 4em;
  font-family: "Roboto", sans-serif;
}

.main-container p {
  font-size: 2em;
  font-family: "Darker Grotesque", sans-serif;

  text-align: center;

  margin-top: 1em;
  max-width: 1102.5px;

  padding: 0 2em;
}

footer {
  width: 100%;
}

@media only screen and (max-width: 495px) {
  .main-container h1 {
    font-size: 3em;
  }

  .main-container p {
    font-size: 1.5em;
  }
}
