@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;700&display=swap");

section {
  width: 70%;

  margin: 3em auto;
}

.section-header {
  display: flex;
}

.section-header img {
  width: 200px;
  height: 200px;

  overflow: hidden;

  border-radius: 50%;

  margin-bottom: 3em;
}

.section-header .title-id {
  padding: 1em 2em;
}

.section-header .title-id h1 {
  font-weight: bold;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 4em;

  padding-bottom: 1rem;

  text-align: center;
}

.section-header .title-id p {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.form-body input {
  border: none;
  border-bottom: 1px solid #333;
  background-color: #fff;
}

.form-body input:focus {
  border: none;
  border-bottom: 1px solid #333;
  box-shadow: 0 2px 2px -2px #333;
}

@media only screen and (max-width: 1257px) {
  .section-header .title-id p {
    text-align: center;
  }
}
