@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;700&display=swap");

.about-container h2,
.value-container h2,
.example-container h2 {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #deb959;

  padding-bottom: 1rem;
}

.value-container h3 {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.about-container p,
.value-container p,
.footer p {
  font-size: 1.5em;
  font-family: "Darker Grotesque", sans-serif;
}

/* main-container */
.main-container {
  background-image: url(/assets/images/background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 70%;

  text-align: center;
  font-family: "Darker Grotesque", sans-serif;
  color: #fff;

  display: flex;
  justify-content: center;

  height: 500px;
}

.center {
  padding: 2em 10em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container h1 {
  font-weight: bold;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 6em;

  padding-bottom: 2rem;
}

.main-container .body-underline {
  width: 200px;
  height: 0.4rem;

  background-color: #fff;
}

.main-container .txt {
  padding: 1rem;
  font-size: 2em;

  max-width: 600px;
}
/* main-container */

/* about-container */
.about-container {
  background-color: #2c5680;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2em 5em;

  text-align: center;
}

.about-container p {
  font-size: 1.5em;
  color: #fff;
  padding-bottom: 1em;

  max-width: 900px;
}
/* about-container */

/* value-container */
.value-container {
  background-color: #333;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2em 5em;

  text-align: center;
}

.value-container .cards {
  display: flex;
  flex-wrap: wrap;
}

.value-container .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5em;
  margin: auto;
  max-width: 280px;
}

.value-container .cards .img {
  background-color: #fff;

  width: fit-content;
  padding: 2em;
  border-radius: 50%;
}

.value-container .card h3 {
  color: #fff;
  padding: 1rem 0;
}

.value-container .card p {
  color: #fff;
}
/* value-container */
.wolf-header {
  display: flex;
  flex-direction: column;
  align-items: start !important;
  justify-content: start;
}

.wolf-header h3 {
  font-size: 3em !important;
  padding: 0 !important;
}

.wolf-header p {
  font-size: 1.3rem;

  padding-top: 0.5em;
  padding-bottom: 1em;
}

@media only screen and (max-width: 675px) {
  .main-container h1 {
    font-size: 4em;
  }

  .main-container p {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 460px) {
  .wolf-description {
    margin: 0;
    padding: 0 !important;
  }
}
