@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.wolf-header h3 {
  margin: auto;

  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}

.wolf-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-adopt,
#btn-exclude {
  margin: 1em 1em;
  width: 4em;
}

.secondary-btn p {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
