.btn {
  padding: 0 1em;

  cursor: pointer;
}

.btn p {
  padding: 0 1rem 0.5rem 1rem;

  font-size: 2em;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: bold;
  color: #333;

  text-align: center;

  background-color: #deb959;

  border-color: #2c5680;
}

.btn-white p {
  color: white;
}

.adopted-btn {
  cursor: default;
}

.adopted-btn p {
  background-color: #7aac3a;
  padding-left: 0;
  padding-right: 0;
}
