@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;700&display=swap");

/* header */
header {
  position: sticky;
  top: 0;
  z-index: 200;
}

.header-container {
  background-color: #85cdf5;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 0.5em 0;

  text-align: center;
}

.header-container h4 {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: bold;
  font-size: 2rem;

  color: #333;

  cursor: pointer;
}

.header-container .about-us {
  position: relative;
  cursor: pointer;
}

.header-container .about-us .about-us-underline {
  height: 0.3em;
  width: 50%;

  position: absolute;
  right: 0;

  margin: 0.2em 0;

  background-color: #333;

  transition: 0.3s;
}

.header-container img {
  height: 6em;

  cursor: pointer;
}
/* header */

@media only screen and (max-width: 460px) {
  .header-container h4 {
    font-size: 1.5em;
  }

  .header-container img {
    height: 4em;
  }

  .header-container .about-us .about-us-underline {
    display: none;
  }
}
