@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.secondary-btn {
  width: 5em;
  padding: 0.5em 1em;
  margin: 1.5em auto 0 auto;

  font-family: "Roboto", sans-serif;
  font-size: 2em;

  text-align: center;
  color: #fff;

  background-color: #2c5680;
  border: 1px solid #333;

  cursor: pointer;
}

.green {
  background-color: #7aac3a;
}

.red {
  background-color: #de5959;
}
